<a href="https://colab.research.google.com/github/kskaran94/Sepsis_Identification/blob/master/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Libraries to be imported**

In [0]:
from google.colab import files
from os import listdir
import pandas as pd

In [0]:
uploaded1 = files.upload()

Saving training_setA.zip to training_setA.zip
Saving training_setB.zip to training_setB.zip

### Unzipping the data files

In [0]:
!unzip training_setA.zip

!unzip training_setB.zip

In [0]:
!ls /content

sample_data  training  training_setA.zip  training_setB  training_setB.zip

Our data is arranged at a patient level. Each psv has patient record for an hour. 
The first step would be to add a new column 'patient_id' and then combine all the psv's in a single dataframe or csv.

In [0]:
 
!ls -U /content/training | head -10

p003462.psv
p013053.psv
p008264.psv
p019446.psv
p003309.psv
p001629.psv
p006290.psv
p018850.psv
p013145.psv
p013074.psv

### Format of a psv

In [0]:
sampl = pd.read_csv('/content/training/p000001.psv', sep='|')
sampl.head()

      HR  O2Sat  Temp    SBP  ...  Unit2  HospAdmTime  ICULOS  SepsisLabel
0    NaN    NaN   NaN    NaN  ...    NaN        -0.03       1            0
1   97.0   95.0   NaN   98.0  ...    NaN        -0.03       2            0
2   89.0   99.0   NaN  122.0  ...    NaN        -0.03       3            0
3   90.0   95.0   NaN    NaN  ...    NaN        -0.03       4            0
4  103.0   88.5   NaN  122.0  ...    NaN        -0.03       5            0

[5 rows x 41 columns]

## **Merge Data**

### **Train -Validation-Test Split**

First approach for solving early prediction of sepsis is to ignore the temporal component in the data. So each record can be treated as a single entity not dependent on any other record. This assumption might be flawed but for establishing a baseline, we are taking this assumption

Train : 30K Patients
Test : 5K Patients
Validation : 5K Patients

In [0]:
a_traincsv = listdir('/content/training/')
b_traincsv = listdir('/content/training_setB/')


with open("train.psv","wb") as fout:

  for i,csv in enumerate(a_traincsv):
    
      # first file:
    if i == 0:
      with open('/content/training/' + csv, "rb") as f:
          fout.write(f.read())
      # now the rest:    
    with open('/content/training/' + csv, "rb") as f:
      next(f) # skip the header
      fout.write(f.read())
      
  for i,csv in enumerate(b_traincsv):
    if i <10000:
      with open('/content/training_setB/' + csv, "rb") as f:
        next(f) # skip the header
        fout.write(f.read())

In [0]:
train = pd.read_csv('/content/train.psv', sep ='|')
train.shape

(1169865, 41)

In [0]:
with open("validation.psv","wb") as fout:

  for i,csv in enumerate(b_traincsv):
    
    if i >=10000 and i <15000:

        # first file:
      if i == 10000:
        with open('/content/training_setB/' + csv, "rb") as f:
            fout.write(f.read())
        # now the rest:    
      with open('/content/training_setB/' + csv, "rb") as f:
        next(f) # skip the header
        fout.write(f.read())

In [0]:
validation = pd.read_csv('/content/validation.psv', sep ='|')
validation.shape

(190385, 41)

In [0]:
with open("test.psv","wb") as fout:

  for i,csv in enumerate(b_traincsv):
    
    if i >=15000:

        # first file:
      if i == 15000:
        with open('/content/training_setB/' + csv, "rb") as f:
            fout.write(f.read())
        # now the rest:    
      with open('/content/training_setB/' + csv, "rb") as f:
        next(f) # skip the header
        fout.write(f.read())

In [0]:
test = pd.read_csv('/content/test.psv', sep ='|')
test.shape

(192084, 41)